.dropdown:hover .dropdown-menu{
    display: block;
    background-color: white;
}
.dropdown-menu{
    display: none;
}
.dashicon{
    display: none;
}
.drop-dash-li:hover .dashicon{
color:#f50963;
display: block;
}
